# For Latex Files and associated figures.

# Temporary and output files
*.bak
*.log
*.dvi
*.pdf
*.out
*.aux
*.bbl
*.blg
*.toc
*.lof
*.lot
*.alg
*.acn
*.acr
*.stg
*.sto
*.sts
*.ist
*.mdg
*.mto
*.mts
*.glg
*.glo
*.gls
*.glsdefs

# Files
Archive/
src/Figures/Image Sources/Jpg/Work Product/
src/Figures/*.jpg
src/Figures/*.eps
Thumbs.db

_temp.*
*.sav
*.synctex
*.prj